/* TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* BASE */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Overlock', sans-serif;
}

/* FONDO */
    body {
        background-color: #ecebdc;
        /* background-image:  url(../img/Fondo/imagenconruido.jpg); */
        /* margin: 10px; */
        }


/* MENU NAVEGACION */

    .header1 {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        width: 100%;

        }


    .logomenu {
        /* background-color: blue; */
        width: 5rem;
        margin-left:8rem ;
    }

    .ul {
        /* background-color: brown; */
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 8rem;
        
        gap: 3rem;
        column-gap: 25px;
    }

    .menu_item {
        flex: 1px 2px 5px 6px ;
    }

    .menu_item a {
        /* background-color: aquamarine; */
        text-decoration: none;
        /* color: red; */
        color: #3e3e3d;
    }

    .menu_item.active a,
    .menu_item a:hover {
        color: #ff6600;
    }


/* HOME */

    .main-introduccion {
        height: calc(100vh - 64px);
        color: #3e3e3d;
        display: flex;
        align-items: center;
        padding: 8rem;


        /* flex-wrap: nowrap;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto; */
    }

    .div-introduuccion{
        background-color: coral;
    }

    .h2-introduccion {
        /* background-color: darkolivegreen; */
    }

    .p-introduccion {
        /* background-color: darkmagenta; */
    }
    

/* HOME - FOOTER INDEX */

    .footer-nav-contacto {
        margin-inline: 8rem;
        color: #3e3e3d;
    }

    .footer-ul-contacto {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 8rem;
        
        gap: 1rem;
        column-gap: 25px;
    }

    .footer-ubicacion {
        padding-inline: 8rem;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        width: 100%;
    }

    .footer-nav-contacto a {
        /* background-color: aquamarine; */
        text-decoration: none;
        /* color: red; */
        color: #ff6600;;
    }

    .footer-nav-contacto a:hover {
        color: #3e3e3d;
    }


/* ABOUT ME */
    .main-aboutme {
    justify-content: space-between;
    align-items: center;
    padding: 15rem;
    text-align: center;
    color: #3e3e3d;
    
    }


/* SERVICIOS */
    .mainservicios {
        display: flex;
        align-items: center;
        padding: 13rem;
        color: #3e3e3d;
    }

/* PORTFOLIO */

    .imagenes {
        /* height: 100vh; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
        grid-template-areas: 
        "1 2 3"
        "4 5 6"
        "7 8 9";

        align-items: center;
        justify-items: center;
        /* align-content: space-evenly; */
        justify-content: center ;
        column-gap: 1px;
        margin-top: 10px;
    }

        /* justify - horizontal
        align -  vertical */

        /* align-content: space-evenly;
        justify-content: center ; SOLO FUNCIONAN CON FR */
    

    .grillaimagenes {
        margin: 10px;
        border-radius: 10px;
        width: 300px;
    }

    .imagen1:hover,.imagen2:hover,.imagen3:hover,.imagen4:hover,.imagen5:hover,.imagen6:hover,.imagen7:hover,.imagen8:hover,.imagen9:hover {
        transform: scale(1.02);
        box-shadow: 0.5px 0.5px 20px #afacaa;
        transition: all 100ms ease;
    }
    
    @media (max-width: 1000px) {
        .imagenes {
            width: 100vh;
            justify-content: center ;
            grid-template-columns: 1 fr 1fr;
            grid-template-rows: 1fr1 fr 1fr 1fr 1fr;
            grid-template-areas: 
            "1 2"
            "3 4"
            "5 6"
            "7 8"
            "9"
        }
    }

    @media (max-width: 750px) {
        .imagenes {
            width: 100vh;
            justify-content: center ;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "1"
            "2"
            "3"
            "4"
            "5"
            "6"
            "7"
            "8"
            "9"
        }
    }


    /* CONTACTO */

    .main-conacto {
        color: #3e3e3d
;
        background-color: #3e3e3d;
    }


